<?xml version="1.0"?>

<configuration>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />
      <customErrors mode="Off"/>
    </system.web>
  <system.webServer>
    <handlers>
      <add verb="*" path="module" type="HttpHandler"
           name="moduleHandler"
           />
      <add verb="*" path="lecture" type="HttpHandler"
           name="lectureHandler"
           />
      <add verb="*" path="practical" type="HttpHandler"
           name="practicalHandler"
           />
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add name="SOFT338_ConnectionString" connectionString ="Data Source=fostvm.fost.plymouth.ac.uk;
         Initial Catalog=db_Ahancock;Persist Security Info=True;User ID=AHancock;Password=Adam12!"/>
  </connectionStrings>
</configuration>
